* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px dotted red;
  }
  
  body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--stone-100);
    color: var(--stone-900);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  main {
    max-width: 736px;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 2rem;
  }
  
  
  .thumbnail {
    margin-bottom: 2rem;
  }
  
  .thumbnail img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.75rem;
  }